* {
    margin : 0%;
    padding: 0%;
}

div {
    height          : 250px;
    width          : 180px;
    background-color: blue;
    color : white;
   
}

h1 {
    text-align      : center;
    background-color: sandybrown;
    border          : 15px outset rgb(157, 153, 160);
    padding         : 1px;
}

table,
td {

    padding: 10px 10px 10px 10px;
    border : 4px outset black;
}