* {
    margin : 0%;
    padding: 0%;
background-color: rgba(55, 223, 181, 0.377);
}

table {
    position: absolute;
    right   : 30%;
    left    : 30%;
    width   : 300px;
    border  : 3px solid #8be40f;
    padding : 20px;

    height          : 250px;
    width           : 180px;
    background-color: rgba(4, 4, 245, 0.651);

}

p {
    color: rgb(22, 18, 1);

}

h1 {
    text-align      : center;
    background-color: rgb(184, 46, 22);
    border          : 15px solid rgb(118, 32, 184);
    padding         : 1px;
}


button {
    width           : 80px;
    height          : 50px;
    padding         : 1px 1px 1px 1px;
    background-color: #0fe461c2;
    color           : white;

}

td {

    padding: 5px 5px 5px 5px;
    border : 4px outset black;
}