* {
    margin : 0%;
    padding: 0%;
}

div {

    height          : 250px;
    width           : 180px;
    background-color: blue;
    color           : white;
    border          : 3px solid #73AD21;
    position        : relative;
    left            : 20%;
    right           : 20%;
}

h1 {
    text-align      : center;
    background-color: sandybrown;
    border          : 15px outset rgb(157, 153, 160);
    padding         : 1px;
}

table,
td {

    padding: 10px 10px 10px 10px;
    border : 4px outset black;
    color  : white;

    text-align: center;


}

#blanco {
    background-color: #4CAF50;
    /* Green */
    border          : none;

    font-size: 16px;
}

footer {
    color           : rgb(241, 237, 243);
    font-size       : 50px;
    text-align      : center;
    height          : 140px;
    width           : 100%;
    background-color: chartreuse;
    padding   : 10px;
    position        : absolute;
    right           : 20px;
    left            : 0px;
    bottom: 0%;
}